amqp==5.2.0
asgiref==3.8.1
beautifulsoup4==4.12.3
billiard==4.2.0
celery==5.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
Django==4.2.11
django-bootstrap-v5==1.0.11
djangorestframework==3.15.1
gunicorn==21.2.0
idna==3.6
kombu==5.3.7
lxml==5.2.1
packaging==24.0
prompt-toolkit==3.0.43
python-dateutil==2.9.0.post0
pywin32==306
pyzmq==25.1.2
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
vine==5.1.0
waitress==3.0.0
watchdog==4.0.0
wcwidth==0.2.13
zmq==0.0.0
